body{
    margin: 0;
    background-color: #BEB7B7;
    font-family: Roboto, 'Courier New', Courier, monospace;
}

header{
    padding: 0.8rem;
    background-color: #f6f2f7;
    box-shadow: inset 0 0 15px 1px #000;
    font-size: 1.5rem;
}
header:hover{
    box-shadow: inset 0px 0px 40px 8px #763f56c8;
}

main{
    font-size: 1.5rem;
}

h1{
    text-align: center;
    color: #e9337f;
    text-shadow: 5px 5px 10px #ffffff;
}
h2 {
    text-align: center;
    text-transform: capitalize;
    color: #E68BBE;
}
h3{
    text-transform: capitalize;
    color: #B18296;
}

section {
    padding: 0.8rem 3rem;
    margin: 0 2rem;
    margin-top: 3rem;
    background-color: #f6f2f7;
    box-shadow: inset 0 0 10px #000;
}
section:hover{
    border-radius: 8px;
    box-shadow: 0px 0px 20px #763F56, inset 0px 0px 30px #763F56;
}

footer{
    width: auto;
    margin-top: 2rem;
    padding: 1rem 0;
    text-align: center;
    background-color: #D6B5C3;
}


/* Stacking Context */
.stacking__list{
    margin: 1rem 5rem;
}
.bloques{
    padding: 3%;
    width: 15%;
    border: 2px solid #000;
    border-radius: 5px;
    text-align: center;
    background-color: #B18296;
    color: #f6f2f7;
}

/* z-index */
.z__index_1{
    position: relative;
    z-index: 1;
}
.z__index_2{
    position: relative;
    bottom: 50px;
    left: 30px;
}

/* Position */
.primera_fila::first-line{
    background-color: #d1caca;
}
/* Ejemplo 1 */
.position__1{
    position: relative;
}
.position__2{
    position: relative;
    bottom: 50px;
    left: 30px;
}
/* Ejemplo 2 */
.position__4{
    position: relative;
}
.position__3{
    position: relative;
    top: 45px;
    left: 30px;
}
/* Ejemplo 3 */
.position__5{
    position: relative;
    top: 45px;
    left: 30px;
}


/* Sin position */
.position__6{
    margin-top: -50px;
    margin-left: 30px;
}



/* Varios contextos de apilamientos */

/* Contenedor 1 */
.contenedor__position{
    position: relative;

    padding-top: 20px;
    border: 5px solid #C7B4BC;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    background-color: #f2dfe8df;
}
.elemento__p{
    padding: 2rem;
    border-radius: 15px;
    text-align: center;
    color: #000000;
    background-color: #DAA2B9;
}

/* Contenedor 2 y sus elementos*/
.contenedor_2{
    position: relative;

    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #707070;
    background-color: #DBCBD2;
}

/* Elementos del contenedor 2 */
.title__div{
    position: relative;
    z-index: 30;

    width: 60%;
    padding: 1.5rem;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #fff;
    color: #000;
    opacity: 0.8;
}
.p__div_1{
    border-top: 2px solid #707070;
}
.p__div{
    padding: 0 1.5rem 0 1.5rem;
}
.p__div_ultimo{
    padding: 0 1.5rem 0 1.5rem;
    padding-bottom: 0;
    margin: 0;

}
.lista__div{
    margin: 0 2rem;
}
.lista__li::marker {
  font-weight: bold; /* Aplica negrita al marcador */
}
.elemento__p, .div__position{
    display: inline-block;
}

/* Elemento 1 */
.caja__p_1{
    margin: 0;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
}
/* Elemento 2 */
.caja__p_2{
    position: absolute;
    top: 80%;
    right: 0;
    z-index: 40;

    margin: 0;
    opacity: 0.85;
}
/* Elemento 3 */
.caja__p_3{
    margin-top: -30px;
    margin-bottom: 0;
}

/* Fin Stacking Context */




/* Medidas relativas */
.div__relativo{
    width: 350px;
    padding: 1em;

    text-align: center;

    background-color: #FDE4EF;
}
.tamaño__final{
    color: #763F56;
    background-color: #D5B6C3;
}
/* rem */
.texto__rem{
    font-size: 2rem;
}
/* em */
.texto__em{
    font-size: 2em;
}

/* Fin de rem y em */




/* Medidas con Width */
.contenedor__width{
    width: 85%;
    padding: 2em;
    margin-left: auto;
    margin-right: auto;
    background-color: #D6B5C3;
}
.width__porcentual, .width__auto{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #6D394F;
    background-color: #fff;
}

/* width % */
.width__porcentual{
    width: 100%;
}
.porcentual__2{
    margin-left: 8em;
}

/* width auto */
.width__auto{
    width: auto;
}

/* Fin Medidas con Width */




/* Medidas con height */
.contenedor__height{
    width: 85%;
    height: 8em;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #E6C4D2;
}
/* Height % */
.height__porcentual{
    height: 45%;
    text-align: center;
    background-color: #E6C4D2;
    color: #6D394F;
}

/* Fin Medidas con height */

